<div class="container-fluid">
    <table class="table table-striped">
    <tr><b><h1 style="margin-top: 100px">{{ word.igboWord }}</h1></b></tr>
    <tr><h3 style="color: #808080"><i>origin: </i>{{word.dialect}}</h3></tr>
    <tr><h2><i>english: </i> {{ word.englishWord }}</h2></tr>
    <tr><h4>{{word.igboDef}}</h4></tr>
    <tr><h3>({{word.pos}}) - {{ word.englishDef}}</h3></tr>
    <tr><h2><i>igbo variations: </i>{{word.variation}}</h2></tr>
    <tr><p>english synonyms: {{word.englishSynonyms}}</p></tr>
</table>
</div>
